.estant{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.livroh{
background-color: black;
    width: 90%;
    height: 75%;
    margin: 10px;
}


.Book1{
    background-color: #4a4a4a;
    display: flex;
    flex-direction: column;
    width: 240px;
    height: 380px;
    align-items: center;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 3px 3px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    gap: 15px;
}
